@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container text-center">
    <h1 style="font-size: 144px; margin-top: 20vh;">Essence</h1>
    <p style="font-size: 18px;">Discover tranquility with Essence's luxury scented candles. Elevate your space with our exquisite fragrances, crafted for pure bliss.</p>
</div>
